html {
	font-family: Helvetica, Arial, Sans-Serif;
	position: static;
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 100%;
}

/* body */
.ui-page {
	height: 100% !important;
	margin: 0 !important;
	background: #ff3333 !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
}

/***** index, group, and register *****/
h1 {
	position: relative !important;
	text-align: center !important;
	font-weight: bold !important;
	font-size: 2em !important;
	font-style: bold !important;
	color: white !important;
	margin: 0px !important;
	background: #ff6666 !important;
}

/* input fields */
ui-input-text, .ui-input-text, .input {
	position: relative !important;
	margin: 1em auto 1em !important;
	width: 80% !important;
	/*text-align: center !important;*/
	font-size: 1em !important;
	display: block !important;
}

.form {
	position: relative;
	top: 35%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

/* login and signup/register button */
.login, .register {
	position: relative;
	margin: 2em auto 2em auto;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
}

/* input field labels */
label {
	text-align: center;
	font-weight: bold;
	font-size: 1.25em !important;
	color: white;
	margin: none;
}

/* button styling */
.customButton, .ui-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff !important;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff !important;
	box-shadow:inset 0px 1px 0px 0px #ffffff !important;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9)) !important;
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%) !important;
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%) !important;
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%) !important;
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%) !important;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0) !important;
	position: relative;
	text-align: center !important;
	background-color:#f9f9f9 !important;
	-moz-border-radius:6px !important;
	-webkit-border-radius:6px !important;
	border-radius:6px !important;
	border:1px solid #dcdcdc !important;
	display:inline-block !important;
	cursor:pointer !important;
	color:#666666 !important;
	font-size:2m !important;
	padding:6px 24px !important;
	margin-right: 0.25em !important;
	margin-top: 0.25em !important;
	text-decoration:none !important;
	text-shadow:0px 1px 0px #ffffff !important;
}

#sidebar {
	position: fixed;
	display: inline-block;
	top: 0px;
	height: 100%;
	width: 80%;
	left: -80%;
	background-color: #333333;
	transition: all 0.5s ease-in-out;
}

#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#homescreen {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80%;
	text-align: center;
	font-size: 1em !important;
	font-style: bold !important;
	color: white !important;
	margin: auto auto !important;*/
}

/* Groups and New Group + */
h2 {
	position: relative !important;
	font-weight: bold !important;
	font-size: 2em !important;
	color: white !important;
	margin: 0px !important;
	width: 100% !important;
}

/* list of groups */
h3 {
	position: relative !important;
	font-weight: bold !important;
	font-size: 1.5em !important;
	font-style: bold !important;
	color: white !important;
	margin: 0 0 0 1em !important;
}

#sidebar_navigation li {
	margin: 0.5em 0 0.5em 1em;
}

ul li ul {
	display: none;
}

.groups {
	margin: 3em 0;
}

.groups h2 {
	margin: 0 0 0 0.5em !important;
}

.sidebaruserheader h2 {
	position: relative !important;
	text-align: center;
	font-size: 2em !important;
	padding: 0.5em 0 !important;
	background: #595959;
	bottom: 0px;
}

.sidebarlogoutfooter {
	width: 100%;
}

.sidebarlogoutfooter h2 {
	position: absolute !important;
	text-align: center;
	font-size: 2em !important;
	padding: 0.25em 0 !important;
	background: #595959;
	bottom: 0px;
}

/* toggle button for sidebar */
.toggle {
	position: fixed;
	right: 1em;
	top: 1em;
	width: 3em;
	height: 3em;
}

/* for screen sizes less than or equal to 360px */
@media only screen and (max-width: 360px) {
	ui-input-text, .ui-input-text, .input {
		width: 90% !important;
	}
}